<h1>Listing ptypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ptypes.each do |ptype| %>
      <tr>
        <td><%= ptype.name %></td>
        <td><%= ptype.description %></td>
        <td><%= link_to 'Show', ptype %></td>
        <td><%= link_to 'Edit', edit_ptype_path(ptype) %></td>
        <td><%= link_to 'Destroy', ptype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ptype', new_ptype_path %>
