<%= form_for([squadron, @sq_ac]) do |f| %>
  <% if @sq_ac.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sq_ac.errors.count, "error") %> prohibited this sq_ac from being saved:</h2>

      <ul>
      <% @sq_ac.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label> Squadron </label><br>
    <%= squadron.sq %>
  </div>
  <div class="field">
    <%= f.label :aircraft_id, "Aircraft" %><br>
    <%= f.collection_select :aircraft_id, Aircraft.all, :id, :actype, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', squadron %>
